<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<strong> Objectives </strong>

<ul>
  <li>List popular languages for Data Science</li>
  <li>List popular libraries for Data Science</li>
  <li>List popular tools for Data Science</li>
</ul>

## Author
Maxim Balakin

Some of the popular languages that Data Scientists use are:
<ol>
  <li>Python</li>
  <li>R</li>
  <li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:

<ol>
  <li>NumPy</li>
  <li>Pandas</li>
  <li>TensorFlow</li>
</ol>

<table>
    <thead>
        <tr>
            <th colspan="2">Data Science tools</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>SAS</td>
        </tr>
        <tr>
            <td>Apache Spark</td>
        </tr>
        <tr>
            <td>BigML</td>
        </tr>
        <tr>
            <td>D3.js</td>
        </tr>
        <tr>
            <td>MATLAB</td>
        </tr>
    </tbody>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [17]:
# This is a sample arithmetic expression to multiply then add integers

(3*4)+5

17

In [19]:
# This will convert 200 minutes to hours by diving by 60

200 // 60

3